@import "tailwindcss";
@plugin "daisyui" {
  themes:
    lemonade --preferslight,
    coffee --prefersdark,
    aqua --default;
  logs: true;
}

html {
  @apply scroll-smooth;
}

.bounded {
  @apply mx-auto xl:mr-0 max-w-[60ch] xl:max-w-2/5 px-8 xl:px-4 py-16;
}

.rich-text {
  & > h1 {
    @apply text-[max(3rem,5vw)] leading-none;
  }

  & > h2 {
    @apply text-[max(1.875rem,2.5vw)] leading-none;
  }

  & > h3 {
    @apply text-[max(1.25rem,1.25vw)] leading-none;

    &:not(:first-child) {
      @apply mt-16;
    }
  }

  & > p,
  & > ul,
  & > ul > li,
  & > dl {
    @apply max-w-[45ch] hyphens-auto;

    &:not(:first-child) {
      @apply mt-4;
    }
  }

  & > dl > div {
    @apply flex justify-between;
  }

  & > p,
  & > dl,
  & li {
    & > a {
      @apply underline focus:outline-none focus:bg-black focus:text-white;
    }
  }
}

.stroked-text {
  -webkit-text-stroke: 0.3px #ffffff;
}
